.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;  //Adiciona uma transição suave para as mudanças de cor e sombras
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    justify-content: center;
    align-items: center;

    &--primary {
        color: #fff;
        background-color: rgb(28, 42, 116);
        border: none;
        outline: none;

        &:hover {
            background-color: rgb(40, 60, 150); //Cor ao passar o mouse por cima
        }

        &:active {
            background-color: rgb(0, 128, 0); //Cor ao clicar
            box-shadow: 0 0 0 4px rgba(177, 224, 177, 0.5); // Adiciona uma sombra para dar o aspecto de clicado
        }
    }

    &--primary.clicked {
        background-color: rgb(0, 128, 0); //cor ao clicar e permanecer verde
        box-shadow: 0 0 0 4px rgba(186, 227, 186, 0.5); //Adicionar uma sombra para dar o aspecto de clicado
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
        align-items: center;
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
    }
}