@use 'variaveis';

.footer {
    padding: 8px 8px;
    background-color: variaveis.$blue2;

    &__container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__logo {
        width: 80px;
        margin: 0 auto 5px;
    }

    &__links {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    
        &__item {
            display: inline-block;
    
            img {
                height: 50px;
                width: 50px;
            }

            a {
                text-decoration: none;
                padding: 8px 16px;
                display: block;
            }
        }
    }

    .text--small {
        margin-bottom: 8px;
    }
}